language: node_js
node_js:
  - "9"
install:
  - yarn install
script:
  - yarn test
branches:
  only:
    - master
    - prod
before_deploy:
  yarn build
deploy:
  provider: npm
  email: "$NPM_EMAIL"
  api_key: "$NPM_TOKEN"
  skip_cleanup: true
  on:
    branch: prod
